/*ESTILO DE PARRAFOS*/

.historia__p {
    background-color: transparent;
    color: rgb(192, 49, 49);
    margin: 40px;
}

.compras__p {
    background-color: transparent;
    color: white;
    margin: 45px;
    font-size: 20px;
    img {
        margin-top: 50px;
    }
}

.compras {
    margin-left: 7%;
    margin-right: 8.3%;
    h1{
        color: white;
        padding-top: 90px;
    }
    p {
        padding-bottom: 2%;
    }
}